*{
    margin: 0px;
    padding: 0px;
}

 #cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
} 

i{
    text-align: center;
}
i img{
    margin-top: 0px;
}


body{

    background-image: linear-gradient(to right,black,white ,white, black);

}


#link{
    font-weight: bolder;

}
h3{
    min-height: 65px;
    margin-top: 10px;
    font-size: 1.1rem;
}


